.movies__home {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.home__top {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.search__input {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  position: relative;
}

.search__input input {
  width: 450px;
  height: 2rem;
  padding: 10px;
}

.search__list-container {
  position: absolute;
  top: 50px;
  width: 450px;
  max-height: 400px;
  overflow-y: scroll;
}

.search__list {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #222222;
  border: 1px solid #333333;
  color: #ffffff;
}

.search__list img {
  width: 45px;
  height: 75px;
  object-fit: cover;
}

.movie-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: auto;
  background-color: #222222;
  color: #ffffff;
  min-width: 100%;
  border: 1px solid #333333;
}

.movie__description {
  padding: 20px;
  width: 100%;
  line-height: 2rem;
  height: 50vh;
  min-height: 50vh;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.movie__title {
  margin-bottom: 20px;
}

span {
  color: #ff9900;
}

.movie__details {
  margin-top: 50px;
}

.movie__poster-big {
  width: 20%;
  min-width: 20%;
  max-width: 20%;
  height: 50vh;
  min-height: 50vh;
  max-height: 50vh;
  object-fit: cover;
}

.movie__plot {
  background-color: #ffffff;
  color: #222222;
  padding: 20px;
}

@media screen and (max-width: 1400px) {
  .movies__home {
    width: 100%;
  }

  .movie-container {
    width: 100%;
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  .movies__home {
    height: fit-content;
  }

  .movie-container {
    flex-direction: column;
    margin: 40px auto;
  }

  .movie__poster-big {
    width: 40%;
    min-width: 40%;
    max-width: 40%;
    height: 60%;
    min-height: 60%;
    max-height: 60%;
    align-self: center;
    padding-top: 20px;
  }

  .movie__description {
    line-height: 1.5rem;
    height: fit-content;
    min-height: fit-content;
    max-height: fit-content;
  }
}

@media screen and (max-width: 800px) {
  .home__top {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .search__input {
    align-items: center;
  }

  .movie__poster-big {
    width: 30%;
    min-width: 30%;
    max-width: 30%;
    height: 40%;
    min-height: 40%;
    max-height: 40%;
    align-self: center;
    padding-top: 20px;
  }
  .movie__title {
    font-size: 1.3rem;
    padding-top: 20px;
  }

  .movie__description {
    line-height: 1.3rem;
  }
}
